#content {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #EEEEEE;
	overflow: auto;
}

#content a:hover {
	text-decoration: underline;
}

.entry {
	min-height: 55%;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	background-color: #FFFFFF;
	float: left;
	opacity: 1.0;
	font-weight: normal;
}

/* make lab links a different color */
#content a.lablink:link {
		color: #33CC44;
}

#content a.lablink:visited {
		color: #229933;
}

#content a.lablink:hover {
		color: #11CC22;
}


.entry a:visited {
	color: blue;
}

.entry p {
	font-weight: normal;
}

#subpage {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.entry p {
	margin: 15px;
} 

.entry h2 {
	margin: 15px;
}
.entry h3 {
	margin: 15px;
}

.entry li {
	margin-right: 15px;
	margin-left: 50px;
}

#footer {
	background-color: #444444;
/*	text-align: center;*/
 text-align: left;
}

#footer h4 {
	color: white;
	padding: 5px;
	font-weight: 300;
	font-size: 9pt;
	text-decoration: none;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

#footer h4 a, #footer h4 a:visited{
	color: #ccc;
	text-decoration: underline;
} 

@media only screen and (max-width: 700px) {

	#subpage {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.entry table tbody tr td img{
	padding-right: 30px;
	
} 

.entry table tbody tr td{
	width: auto;
	vertical-align: top;
	margin-bottom: 25px;
}

.entry table tbody tr td:nth-child(1){
	display: inline-block;
	float: left;
}



.entry table tbody tr td:nth-child(2){
	display: block;
	clear: right;
}

}
